.trackingInfo-container {
  background-color: azure;
  border: 1px solid #ccc;
  padding: 20px;
  margin-top: 20px;
  border-radius: 5px;
}

.trackingInfo-title {
  font-size: 30px;
  margin-bottom: 10px;
}

.trackingInfo-details {
  display: flex;
  justify-content: space-between;
}

.trackingInfo-column {
  flex-basis: 50%;
}

.col-left {
  margin: 16px;
}
.col-right {
  margin: 16px;
}

.trackingInfo-label {
  font-weight: bold;
}

.trackingInfo-value {
  display: inline-block;
  margin-right: 10px;
}

.icon {
  display: inline-block;
  margin-right: 5px;
  font-size: 18px;
}

.justify-text {
  text-align: justify;
  justify-content: center;
}

.orderNotFound {
  background-color: white;
  border-radius: 5px;
  justify-content: center;
  text-align: center;
}
.title_notfound {
  font-size: 26px;
  margin-top: 10px;
}
.please-check {
  background-color: white;
}