.trackingInfo-container {
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  
  .trackingInfo-title {
    color: black;
  }
  
  .trackingInfo-details {
    display: flex;
  }
  
  .trackingInfo-column {
    flex: 1;
  }
  
  .trackingInfo-label {
    display: block;
    margin-bottom: 10px;
    color: black;
  }
  
  .trackingInfo-value {
    color: black;
    margin-bottom: 0;
  }

  .orderNotFound{
    background-color: white;
  }

  .title_notfound {
    color: black;
  }