<div class="site-wrap" id="home-section">

    <div class="site-mobile-menu site-navbar-target">
        <div class="site-mobile-menu-header">
            <div class="site-mobile-menu-close mt-3">
                <span class="icon-close2 js-menu-toggle"></span>
            </div>
        </div>
        <div class="site-mobile-menu-body"></div>
    </div>

    <header class="site-navbar js-sticky-header site-navbar-target" role="banner">

        <div class="container">
            <div class="row align-items-center position-relative">


                <div class="site-logo">
                    <a [routerLink]="'/tracking'" class="text-black"><span class="text-primary">Magic Post</span> </a>
                </div>

                <div class="col-12">
                    <nav class="site-navigation text-right ml-auto " role="navigation">

                        <ul class="site-menu main-menu js-clone-nav ml-auto d-none d-lg-block">
                            <li><a [routerLink]="'/tracking'" class="nav-link">Trang chủ</a></li>
                            <li><a [routerLink]="'/service'" class="nav-link">Dịch vụ</a></li>
                            <li>
                                <a [routerLink]="'/aboutUs'" class="nav-link">Về chúng tôi</a>
                            </li>


                            <li><a [routerLink]="'/contact'" class="nav-link">Liên hệ</a></li>
                        </ul>
                    </nav>

                </div>

                <div class="toggle-button d-inline-block d-lg-none"><a [routerLink]="'/tracking'"
                        class="site-menu-toggle py-5 js-menu-toggle text-black"><span class="icon-menu h3"></span></a>
                </div>

            </div>
        </div>

    </header>
    <div class="site-section" id="about-section">
        <div class="container">
            <div class="row mb-5 justify-content-center">
                <div class="col-md-7 text-center">
                    <div class="block-heading-1">
                        <h2>Về chúng tôi</h2>
                        <p>Với mạng lưới rộng khắp và hệ thống vận chuyển hiện đại, chúng tôi có thể đáp ứng nhu cầu chuyển phát hàng của khách hàng trong cùng thành phố và quốc gia. Dù là chuyển phát hàng hóa thường ngày, đơn hàng thương mại hay gửi hàng quốc tế, chúng tôi cam kết đảm bảo sự chuyên nghiệp và chất lượng cao trong mọi dịch vụ.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="site-section bg-light" id="about-section">
            <div class="container">
                <div class="row justify-content-center mb-4 block-img-video-1-wrap">
                    <div class="col-md-12 mb-5">
                        <figure class="block-img-video-1">
                            <a href="https://vimeo.com/45830194">
                                <span class="icon"><span class="icon-play"></span></span>
                                <img src="assets/images/depot_delivery_1.jpg" alt="Image" class="img-fluid">
                            </a>
                        </figure>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="row">
                            <div class="col-6 col-md-6 mb-4 col-lg-0 col-lg-3">
                                <div class="block-counter-1">
                                    <span class="number"><span>3</span>+</span>
                                    <span class="caption">Năm trong ngành</span>
                                </div>
                            </div>
                            <div class="col-6 col-md-6 mb-4 col-lg-0 col-lg-3">
                                <div class="block-counter-1">
                                    <span class="number"><span>100</span>+</span>
                                    <span class="caption">Nhân viên</span>
                                </div>
                            </div>
                            <div class="col-6 col-md-6 mb-4 col-lg-0 col-lg-3">
                                <div class="block-counter-1">
                                    <span class="number"><span>100000</span>+</span>
                                    <span class="caption">Thực hiện đơn hàng</span>
                                </div>
                            </div>
                            <div class="col-6 col-md-6 mb-4 col-lg-0 col-lg-3">
                                <div class="block-counter-1">
                                    <span class="number"><span>1000</span>+</span>
                                    <span class="caption">Vehicle</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="site-footer" style="margin-top: 5px;">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-7">
                            <h2 class="footer-heading mb-4">Thông tin</h2>
                            <p>Chúng tôi cung cấp dịch vụ chuyển phát hàng hóa từ điểm đi đến điểm đến một cách nhanh chóng, an toàn và đáng tin cậy.
                            </p>
                        </div>
                        <div class="col-md-4 ml-auto">
                            <h2 class="footer-heading mb-4">Đặc điểm</h2>
                            <ul class="list-unstyled">
                                <li><a [routerLink]="'/aboutUs'">Về chúng tôi</a></li>
                                <li><a [routerLink]="'/service'">Dịch vụ</a></li>
                                <li><a [routerLink]="'/contact'">Liên hệ</a></li>
                            </ul>
                        </div>

                    </div>
                </div>
                <div class="col-md-4 ml-auto">




                    <h2 class="footer-heading mb-4">Theo dõi chúng tôi</h2>
                    <a href="#" class="pl-3 pr-3"><span class="icon-twitter"></span></a>
                    <a href="#" class="pl-3 pr-3"><span class="icon-instagram"></span></a>
                    <a href="#" class="pl-3 pr-3"><span class="icon-linkedin"></span></a>

                </div>
            </div>
            <div class="row pt-5 mt-5 text-center">
                <div class="col-md-12">
                    <div class="border-top pt-5">
                        <p>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            Thực hiện &copy;
                            <script>document.write(new Date().getFullYear());</script>  by Circus Team
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </footer>