
<main class="app-content">
    <div class="row">
      <div class="col-md-12">
        <div class="app-title">
          <ul class="app-breadcrumb breadcrumb">
            <li class="breadcrumb-item"><a href="#"><b>Bảng điều khiển</b></a></li>
          </ul>
          <div id="clock"></div>
        </div>
      </div>
    </div>
    <div class="row">
      <!--Left-->
      <div class="col-md-12 col-lg-6">
        <div class="row">
       <!-- col-6 -->
       <div class="col-md-6">
        <div class="widget-small primary coloured-icon"><i class='icon bx bxs-user-account fa-3x'></i>
          <div class="info">
            <h4>Tổng khách hàng</h4>
            <p><b>56 khách hàng</b></p>
            <p class="info-tong">Tổng số khách hàng được quản lý.</p>
          </div>
        </div>
      </div>
       <!-- col-6 -->
          <div class="col-md-6">
            <div class="widget-small info coloured-icon"><i class='icon bx bxs-data fa-3x'></i>
              <div class="info">
                <h4>Tổng sản phẩm</h4>
                <p><b>1850 sản phẩm</b></p>
                <p class="info-tong">Tổng số sản phẩm được quản lý.</p>
              </div>
            </div>
          </div>
           <!-- col-6 -->
          <div class="col-md-6">
            <div class="widget-small warning coloured-icon"><i class='icon bx bxs-shopping-bags fa-3x'></i>
              <div class="info">
                <h4>Điểm giao dịch</h4>
                <p><b>45 điểm </b></p>
                <p class="info-tong">Tổng số điểm giao dịch trên cả nước.</p>
              </div>
            </div>
          </div>
           <!-- col-6 -->
          <div class="col-md-6">
            <div class="widget-small danger coloured-icon"><i class='icon bx bxs-error-alt fa-3x'></i>
              <div class="info">
                <h4>Điểm tập kết</h4>
                <p><b>40 điểm</b></p>
                <p class="info-tong">Tổng số điểm tập kết trên cả nước.</p>
              </div>
            </div>
          </div>


           <!-- col-12 -->
           <div class="col-md-12">
            <div class="tile">
                <h3 class="tile-title">Các điểm giao dịch</h3>
              <div>
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th>ID </th>
                      <th>Tên điểm</th>
                      <th>Vị trí</th>
                      <th>Hotline</th>
                      <th>Email</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>12345</td>
                      <td>Dương Quảng Hàm</td>
                      <td>
                        Ngách 24 ngõ 79 Dương Quảng Hàm
                      </td>
                      <td>0342065648</td>
                      <td>datnguyen1854</td>
                    </tr>
                    <tr>
                        <td>12345</td>
                        <td>Dương Quảng Hàm</td>
                        <td>
                          Ngách 24 ngõ 79 Dương Quảng Hàm
                        </td>
                        <td>0342065648</td>
                        <td>datnguyen1854</td>
                      </tr>
                    <tr>
                      <td>12345</td>
                      <td>Dương Quảng Hàm</td>
                      <td>
                        Ngách 24 ngõ 79 Dương Quảng Hàm
                      </td>
                      <td>0342065648</td>
                      <td>datnguyen1854</td>
                    </tr>
                    <tr>
                        <td>12345</td>
                        <td>Dương Quảng Hàm</td>
                        <td>
                          Ngách 24 ngõ 79 Dương Quảng Hàm
                        </td>
                        <td>0342065648</td>
                        <td>datnguyen1854</td>
                      </tr>
                  </tbody>
                </table>
              </div>
              <!-- / div trống-->
            </div>
           </div>
            <!-- / col-12 -->
             <!-- col-12 -->
            <div class="col-md-12">
                <div class="tile">
                  <h3 class="tile-title">Các điểm tập kết</h3>
                <div>
                  <table class="table table-hover">
                    <thead>
                      <tr>
                        <th>ID</th>
                        <th>Tên điểm</th>
                        <th>Vị trí</th>

                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>#183</td>
                        <td>Đình Thôn</td>
                        <td>74 Đình Thôn</td>
                      </tr>
                      <tr>
                        <td>#183</td>
                        <td>Đình Thôn</td>
                        <td>74 Đình Thôn</td>
                      </tr>
                      <tr>
                        <td>#183</td>
                        <td>Đình Thôn</td>
                        <td>74 Đình Thôn</td>
                      </tr>
                      <tr>
                        <td>#183</td>
                        <td>Đình Thôn</td>
                        <td>74 Đình Thôn</td>
                      </tr>
                    </tbody>
                  </table>
                </div>

              </div>
            </div>
             <!-- / col-12 -->
        </div>
      </div>
      <!--END left-->
      <!--Right-->
      <div class="col-md-12 col-lg-6">
        <div class="row">
          <div class="col-md-12">
            <div class="tile">
              <h3 class="tile-title">Thống kê điểm giao dịch</h3>
              <div class="embed-responsive embed-responsive-16by9">
                <canvas class="embed-responsive-item" id="lineChartDemo"></canvas>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="tile">
              <h3 class="tile-title">Thống kê điểm tập kết</h3>
              <div class="embed-responsive embed-responsive-16by9">
                <canvas class="embed-responsive-item" id="barChartDemo"></canvas>
              </div>
            </div>
          </div>
        </div>

      </div>
      <!--END right-->
    </div>


    <div class="text-center" style="font-size: 13px">
      <p><b>
          <script type="text/javascript">
            document.write(new Date().getFullYear());
          </script> Phần mềm MagicPost
        </b></p>
    </div>

  </main>